[package]
name = "cortex"
version = "0.4.2"
edition = "2018"
authors = ["Deyan Ginev <d.ginev@jacobs-university.de>"]
license = "MIT"
repository = "https://github.com/dginev/cortex"
description = """
A general purpose processing framework for corpora of scientific documents
"""

[lib]
name = "cortex"
crate-type = ["rlib","staticlib"]

[[bin]]
name = "frontend"
path = "bin/frontend.rs"

[[bin]]
name = "dispatcher"
path = "bin/dispatcher.rs"

[dependencies.libarchive-sys]
git = "https://github.com/dginev/libarchive-sys.git"

[dependencies.pericortex]
git = "https://github.com/dginev/cortex-peripherals.git"
version = "0.2.3"

[dependencies.rocket_contrib]
version = "0.4.0"
default-features = false
features = ["json", "tera_templates"]

[dependencies]
regex = "1.0.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sys-info = "0.5.6"
glob = "0.3.0"
rand = "0.7"
tempfile = "3"
time = "0.1.4"
redis = "0.13.0"
gnuplot = "0.0.32"
rocket = "0.4.0"
rocket_codegen = "0.4.0"
futures = "0.1"
hyper = "0.12"
hyper-tls = "0.3"
percent-encoding = "2.0.0"
tokio-core = "0.1.17"
zmq = "0.9.0"
zmq-sys = "0.11.0"
dotenv = "0.15.0"
dotenv_codegen = "0.15"
chrono = "0.4.0"
diesel = {version="1.4.1", features = ["postgres", "chrono"]}
libxml = "0.2.6"
lazy_static = "1.0.0"
