[package]
name = "cortex"
version = "0.4.3"
edition = "2021"
authors = ["Deyan Ginev <deyan.ginev@gmail.com>"]
license = "MIT"
repository = "https://github.com/dginev/cortex"
description = """
A general purpose processing framework for corpora of scientific documents
"""

[lib]
name = "cortex"
crate-type = ["rlib","staticlib"]

[[bin]]
name = "frontend"
path = "bin/frontend.rs"

[[bin]]
name = "dispatcher"
path = "bin/dispatcher.rs"

[dependencies.libarchive-sys]
git = "https://github.com/dginev/libarchive-sys.git"

[dependencies.pericortex]
git = "https://github.com/dginev/cortex-peripherals.git"
version = "0.2.4"

[dependencies.rocket_contrib]
version = "0.4.0"
default-features = false
features = ["json", "tera_templates"]

[dependencies]
regex = "1.9.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
glob = "0.3.1"
rand = "0.8.0"
tempfile = "3"
time = "0.1.4"
redis = "0.23.2"
rocket = "0.4.0"
rocket_codegen = "0.4.0"
hyper = "0.14"
percent-encoding = "2.3.0"
zmq = "0.10.0"
dotenv = "0.15.0"
dotenv_codegen = "0.15"
chrono = "0.4.28"
diesel = {version="1.4.1", features = ["postgres", "chrono"]}
lazy_static = "1.0.0"
