.quietlink:link {color:#000000; text-decoration:none}
.quietlink:visited {color:#000000; text-decoration:none}
.link-total {
   color:#000000;
   text-decoration:none;
   display:inline-block;
   pointer-events: none;
   cursor: default;
}
body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#body {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin-bottom:15px;
  /* Pad bottom by footer height */
  padding: 0 0 15px;
}
header {
  margin-top: 1em;
  margin-bottom: 2em;
}
footer {
  margin-top: 2em;
  margin-bottom: 1em;
  height: 15px;
}

tr.error {
  background-color: #FFE9BF;
}

.welcome-title {
 font-weight: normal;
}
.welcome-subtitle {
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 2em;
}

.contact-list {
  display: table;
  table-layout: fixed;
  margin: 0 auto;
}

.contact-item {
  text-align: left;
  font-family: Helvetica Neue;
  display:table-row;
  vertical-align:middle;
}
.contact-token {
  display:table-cell;
  vertical-align:middle;
  padding: 5px;
}
.coming-soon {
  font-family: 'Chantelli-Antiqua', 'Georgia', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-middle-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.table-nonfluid {
   width: auto !important;
}
.btn-github-star {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin: auto;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1 {
  font-weight: bold;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
}
.bold {
  font-weight: bold;
}

#hello-world.description {
  padding: 20px;
  clear: both;
  font-family: Helvetica Neue;
  line-height: 130%;
  position: relative;
}

.blog-meta {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
  clear: both;
  font-size: 0.857em;
  margin: 24px 0px 0px;
  padding: 12px 12px 8px;
}

.blog-date, .talk-date {
  font-size:  0.6em;
  color: DarkGrey;
  margin: 6px 0px 24px;
}
.blog-post-overview, .talk-overview {
  margin-bottom: 60px;
}

.blog-post-content {
  font-size: 1.3em;
  /*font-family: 'OFLGoudy';*/
  font-family: "Georgia";
}
.nav-link[data-nav-name=''] {
  visibility: hidden;
}
.report-duration {
  font-style: italic;
}
.report-duration[data-report-duration=''] {
  visibility: hidden;
}
.rerun-total-count {
  font-weight: bold;
  font-size: 1.4em;
}
.rerun-banner {
  padding-left: 20px;
}
.rerun-banner-segment {
  display: block;
  color: #777;
  font-size: 1.2em;
  padding-bottom: 10px;
}
.rerun-banner-segment:empty{
  visibility: hidden;
}

div#report-div {
  visibility: hidden;
}

p.corpus-description, p.service-description {
  padding-left: 4em;
}
div.bottom-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 1900;
  background-color: #efefef;
}

tr.fresh > td {
  background-color: #5cb85c26;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 2px;
  vertical-align: middle;

}

.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

table.history-report {
  font-size: 12px;
  margin-top: 125px;
}

span.history-footnote {
  font-size: 12px;
  text-align: left;
}

div.arxmliv-kwarc-footer {
  margin-top:0.8em;
  margin-bottom:0.8em;
  font-size: 1em;
  font-weight: bold;
}

div.report-footer {
  margin-top:0.8em;
  margin-bottom:0.8em;
}


div.main-report-bottom {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div.signin-buttons {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  display: block;
}

img.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 0;
  margin-right: 8px;
}

.cortex-link {
  margin-top: 20px;
}

tr.success > td {
  background-color: #dff0d8;
}
tr.warning > td {
  background-color: #fcf8e3;
}
tr.danger > td {
  background-color: #f2dede;
}
tr.info > td {
  background-color: #d9edf7;
}
tr.active > td {
  background-color: #f5f5f5;
}

td > a {
  color:#337ab7;
  text-decoration: none;
}