.quietlink:link {color:#000000; text-decoration:none}      
.quietlink:visited {color:#000000; text-decoration:none} 
.link-total {
   color:#000000;
   text-decoration:none;
   display:inline-block;
   pointer-events: none;
   cursor: default;
}
body {
  height: 100%; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#body {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin-bottom:15px;
  /* Pad bottom by footer height */
  padding: 0 0 15px;
}
footer {
  height: 15px;
}

tr.error {
  background-color: #FFE9BF;
}

tr.danger > td.task-result > a {
  visibility: hidden;
}

tr.danger > td.task-preview > a {
  visibility: hidden;
}

.welcome-title {
 font-weight: normal;
}
.welcome-subtitle {
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
}

.contact-list {
  display: table;
  table-layout: fixed;
  margin: 0 auto;
}

.contact-item {
  text-align: left; 
  font-family: Helvetica Neue;
  display:table-row;
  vertical-align:middle;
}
.contact-token {
  display:table-cell;
  vertical-align:middle;
  padding: 5px;
}
.coming-soon {
  font-family: 'Chantelli-Antiqua', 'Georgia', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  padding: 20px;
  display: block;
  text-align: left; 
  font-family: 'Roboto Slab', serif;
}

.vertical-middle-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.table-nonfluid {
   width: auto !important;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1 {
  font-weight: bold;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
}
.bold {
  font-weight: bold;
}

#hello-world.description {
  padding: 20px;
  clear: both;
  font-family: Helvetica Neue;
  line-height: 130%;
  position: relative;
}

.blog-meta {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
  clear: both;
  font-size: 0.857em;
  margin: 24px 0px 0px;
  padding: 12px 12px 8px;
}

.blog-date, .talk-date {
  font-size:  0.6em;
  color: DarkGrey;
  margin: 6px 0px 24px;
}
.blog-post-overview, .talk-overview {
  margin-bottom: 60px;
}

.blog-post-content {
  font-size: 1.3em;
  /*font-family: 'OFLGoudy';*/
  font-family: "Georgia";
}
.nav-link[data-nav-name=''] {
  visibility: hidden;
}
.report-duration {
  font-style: italic;
}
.report-duration[data-report-duration=''] {
  visibility: hidden;
}
.rerun-total-count {
  font-weight: bold;
  font-size: 1.4em;
}
.rerun-banner {
  padding-left: 20px;
}
.rerun-banner-segment {
  display: block;
  color: #777;
  font-size: 1.2em;
  padding-bottom: 10px;
}
.rerun-banner-segment:empty{
  visibility: hidden;
}
