{{> layout-cortex-pre }}
<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="center">
    <h1 class="welcome-title">
      <img src="/public/img/logo.jpg"> Framework</h1>
    <div class="row"></div>
    <h2 class="welcome-subtitle">A general-purpose processing framework for corpora of scientific documents</h2>
    <br>
  </div>

  {{#each corpora}}
  <h2>
    <i class="fa fa-chevron-right fa-lg"></i>&nbsp;&nbsp;
    <a href="/corpus/{{ this.name_uri }}">{{ this.name }}</a>
  </h2>
  {{/each}}

</div>
<div class="col-md-2"></div>

</div>
<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="btn-github-star">
        <iframe src="https://ghbtns.com/github-btn.html?user=dginev&repo=CorTeX&type=star&count=false&size=large" frameborder="0"
          scrolling="0" width="75px" height="30px"></iframe>
      </div>
    </div>
  </nav>
</footer>

</body>

</html>