<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% if global.title %} {{global.title}} | CorTeX Framework {% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="utf-8" />
    <meta name="language" content="English">
    <meta name="description" content="{{global.description}}">
    <meta name="google-signin-client_id" content="{{global.google_oauth_id}}.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type='text/css' href='/public/css/cortex.css'>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block head_extra %} {% endblock head_extra %}
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    {% if global.corpus_name %}
                    <nav class="navbar navbar-expand-md navbar-white bg-white">
                        <a class="navbar-brand quietlink" href="/">
                            <span class="d-sm-none d-md-block"><img src="/public/img/logo.jpg" width="80">
                                Framework</span>
                            <span class="d-sm-block d-md-none d-lg-none d-xl-none"><img src="/public/img/logo.jpg"
                                    width="80">
                                Framework</span>
                        </a>
                        <ul class="navbar-nav mr-auto nav">
                            <li class="nav-item" data-nav-name="{{global.corpus_name}}">
                                <a class="nav-link quietlink" href="/corpus/{{global.corpus_name_uri}}">
                                    <i
                                        class="fa fa-chevron-right fa-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.corpus_name}}</a>
                            </li>
                            {% if global.service_name %}
                            <li class="nav-item" data-nav-name="{{global.service_name}}">
                                <a class="nav-link quietlink"
                                    href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}">
                                    <i
                                        class="fa fa-chevron-right fa-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.service_name}}</a>
                            </li>
                            {% if global.severity %}
                            <li class="nav-item" data-nav-name="{{global.severity}}">
                                <a class="nav-link quietlink"
                                    href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}/{{global.severity_uri}}">
                                    <i
                                        class="fa fa-chevron-right fa-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.severity}}</a>
                            </li>
                            {% if global.category %}
                            <li class="nav-item" data-nav-name="{{global.category}}">
                                <a class="nav-link quietlink"
                                    href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}/{{global.severity_uri}}/{{global.category_uri}}">
                                    <i
                                        class="fa fa-chevron-right fa-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.category}}</a>
                            </li>
                            {% if global.what %}
                            <li class="nav-item" data-nav-name="{{global.what}}">
                                <a class="nav-link quietlink"
                                    href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}/{{global.severity_uri}}/{{global.category_uri}}/{{global.what_uri}}">
                                    <i class="fa fa-chevron-right fa-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.what}}</a>
                            </li>
                            {% endif %} {% endif %} {% endif %} {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <div class="col-3">
                    <div class="float-right">
                        <div class="signin-buttons">
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                            <span class="g-signout2" style="display:none;">
                                <img class="user-avatar" src="">
                                <button type="button" class="btn btn-outline-secondary"
                                    id="admin-dashboard">Dashboard</button>
                                <button type="button" class="btn btn-outline-secondary" onclick="signOut();">Sign
                                    out</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="body" class="container">
        <div class="message">{% if message %} {{message}} {% endif %}</div>

        {% block content %} {% endblock content %}
    </div>

    {% if global.report_duration %} {% include "rerun" %} {% endif %}

    <footer>
        <div class="container-fluid bg-light border-top align-middle align-text-middle fixed-bottom">
            {% if global.report_duration %}
            <div class="float-right report-footer">
                <span class="report-duration" data-report-duration="{{global.report_duration}}">Report generated in
                    {{global.report_duration}}ms,
                    on {{global.report_time}}
                    <a href="#modal-rerun" data-toggle="modal" data-target="#modal-rerun"
                        title="Mark reported tasks for rerun">
                        <i class="fa fa-refresh"></i>
                    </a><br>
                </span>
                {% if not global.severity %}
                <span class="auto-refresh">auto refresh:
                    <label class="switch">
                        <input type="checkbox" name="refresh" value="false">
                        <span class="slider round"></span>
                    </label>
                </span>
                <br> {% endif %}
            </div>
            {% elif not history %}
            <div class="center arxmliv-kwarc-footer">
                <span class="center">
                    Created by the <a href="https://kwarc.info/projects/arXMLiv/">arXMLiv project at the KWARC
                        Research
                        Group</a>
                </span><br>
            </div>
            {% endif %} {%block footer_extra %}{% endblock footer_extra %}
        </div>
    </footer>
    <script src='//privacy.kwarc.info/policy.js' async defer></script>
    <script type="text/javascript">
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            localStorage.setItem("oauth_session_token", id_token);
            $("img.user-avatar").attr('src', profile.getImageUrl());
            $("button#admin-dashboard").attr("onclick", 'location.href = "/dashboard?token=' + id_token + '"');
            $(".g-signin2").hide();
            $("span.g-signout2").show();
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                $(".g-signout2").hide();
                $(".g-signin2").show();

            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>