<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% if global.title %} {{global.title}} | CorTeX Framework {% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="utf-8" />
    <meta name="language" content="English">
    <meta name="description" content="{{global.description}}">
    <meta name="google-signin-client_id" content="{{global.google_oauth_id}}.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href='/public/css/cortex.css'>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel='stylesheet' type='text/css' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src='//code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block head_extra %} {% endblock head_extra %}
</head>

<body>
    <header class="navbar navbar-default bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <span class="hidden-xs">
                        <a href="/" class="quietlink">
                            <img src="/public/img/logo.jpg" width="80"> Framework</a>
                    </span>
                    <span class="hidden-sm hidden-md hidden-lg">
                        <a href="/" class="quietlink">
                            <img src="/public/img/logo.jpg" width="80">
                        </a>
                    </span>
                </span>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                {% if global.corpus_name %}
                <ul class="nav navbar-nav">
                    <li class="nav-link" data-nav-name="{{global.corpus_name}}">
                        <a href="/corpus/{{global.corpus_name_uri}}">
                            <i class="fa fa-chevron-right fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.corpus_name}}</a>
                    </li>
                    {% if global.service_name %}
                    <li class="nav-link" data-nav-name="{{global.service_name}}">
                        <a href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}">
                            <i class="fa fa-chevron-right fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.service_name}}</a>
                    </li>
                    {% if global.severity %}
                    <li class="nav-link" data-nav-name="{{global.severity}}">
                        <a
                            href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}/{{global.severity_uri}}">
                            <i class="fa fa-chevron-right fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.severity}}</a>
                    </li>
                    {% if global.category %}
                    <li class="nav-link" data-nav-name="{{global.category}}">
                        <a
                            href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}/{{global.severity_uri}}/{{global.category_uri}}">
                            <i class="fa fa-chevron-right fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.category}}</a>
                    </li>
                    {% if global.what %}
                    <li class="nav-link" data-nav-name="{{global.what}}">
                        <a
                            href="/corpus/{{global.corpus_name_uri}}/{{global.service_name_uri}}/{{global.severity_uri}}/{{global.category_uri}}/{{global.what_uri}}">
                            <i class="fa fa-chevron-right fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{global.what}}</a>
                    </li>
                    {% endif %} {% endif %} {% endif %} {% endif %}
                </ul>
                {% endif %}
                <div class="pull-right">
                    <div class="signin-buttons">
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        <span class="g-signout2" style="display:none;">
                            <img class="user-avatar" src="">
                            <a href="#" onclick="signOut();">Sign
                                out</a></span>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div id="body" class="container">
        <div class="message">{% if message %} {{message}} {% endif %}</div>

        {% block content %} {% endblock content %}
    </div>

    {% if global.report_duration %} {% include "rerun" %} {% endif %}

    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            {% if global.report_duration %}
            <div class="pull-right">
                <span class="report-duration" data-report-duration="{{global.report_duration}}">Report generated in
                    {{global.report_duration}}ms,
                    on {{global.report_time}}
                    <a href="#modal-rerun" data-toggle="modal" data-target="#modal-rerun"
                        title="Mark reported tasks for rerun">
                        <i class="fa fa-refresh"></i>
                    </a><br>
                </span>
                {% if not global.severity %}
                <span class="auto-refresh">auto refresh:
                    <label class="switch">
                        <input type="checkbox" name="refresh" value="false">
                        <span class="slider round"></span>
                    </label>
                </span>
                <br> {% endif %}
            </div>
            {% elif not history %}
            <div class="center arxmliv-kwarc-footer">
                <span class="center">
                    Created by the <a href="https://kwarc.info/projects/arXMLiv/">arXMLiv project at the KWARC Research
                        Group</a>
                </span><br>
            </div>
            {% endif %} {%block footer_extra %}{% endblock footer_extra %}
        </nav>
    </footer>
    <script src='//privacy.kwarc.info/policy.js' async defer></script>
    <script type="text/javascript">
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            $("img.user-avatar").attr('src', profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            $(".g-signin2").hide();
            $("span.g-signout2").show();
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                $(".g-signout2").hide();
                $(".g-signin2").show();

            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>